data_og/
*/data_pops/
*/spike_rates/
*/times/
data_volt/
data_volt_2/
data_volt_3/
data_jesus/
*/data_pops/
*/irregularities/
*/pop_activities/
*/lvrs/
*/irregularities/
*/pop_activities/
*/lvrs/
*/spike_rates/
*/times/
*/sample_voltages/
DTI_data/
test.py
__pycache__
output_1.png
output_2.png
stimulation/data_pulse_packet_example
data_background_rate
data_excitatory_delay
data_inhibitory_delay
data_inhibitory_strength
data_refractory_period
data_gamma_stimulation
data_step_stimulation
data_exin_big
data_background_rate_big
data_background_rate_jesus
stimulation
data_background_rate_big_2/
data_background_rate_big_3/
data_background_rate_fig_1
data_background_rate_fig_1_lesion/
data_background_rate_fig_1_lesion2/
data_background_rate_fig_1_lesion3/
data_background_rate_big_4/
data_test/
.vscode/
Figure1/
Figure2/
test_FFT/
whole_brain/
connect_matrix.txt
.venv/
